# OS X
**/.DS_Store*
**/Icon?
**/._*

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini

# Linux
**/.directory
**/*~

# npm
node_modules
package-lock.json
*.gz

#log
**/*.log
**/*.log.*

#vscode
.vs_code/

#certificate
certificate/
server.cert
server.key

#config
.env
sqitch.conf

#data
comments.json
ingredients.json
recipes.json
recipe_has_ingredient.json
members.json

#test
coverage/

#documenation
documentation/
