<%- include ('./partials/header.ejs') %>
    <div class="card">
        <h1>Erreur <%= locals.status %>
        </h1>
        <p>
            <%= locals.error %>
        </p>
    </div>
    <%- include ('./partials/footer.ejs') %>