<%- include ('./partials/header.ejs') %>
    <div class="card">
        <h1>Bienvenue sur O'Delices API</h1>
        <a href="/api-docs">Documentation</a>
    </div>
    <%- include ('./partials/footer.ejs') %>